[submodule "emmet-vim"]
	path = emmet-vim
	url = git@github.com:mattn/emmet-vim.git
[submodule "vim-airline"]
	path = vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "tcomment_vim"]
	path = tcomment_vim
	url = git@github.com:tomtom/tcomment_vim.git
[submodule "funcoo.vim"]
	path = funcoo.vim
	url = https://github.com/rizzatti/funcoo.vim.git
[submodule "dash.vim"]
	path = dash.vim
	url = https://github.com/rizzatti/dash.vim.git
[submodule "vim-rubocop"]
	path = vim-rubocop
	url = https://github.com/ngmy/vim-rubocop
[submodule "rspec.vim"]
	path = rspec.vim
	url = https://github.com/Keithbsmiley/rspec.vim
[submodule "vim-bundler"]
	path = vim-bundler
	url = https://github.com/tpope/vim-bundler
[submodule "vim-abolish"]
	path = vim-abolish
	url = https://github.com/tpope/vim-abolish
[submodule "dbext.vim"]
	path = dbext.vim
	url = https://github.com/vim-scripts/dbext.vim
